.p-password,
.p-inputtext,
.p-treeselect,
.p-multiselect,
.p-inputgroup > .p-element,
p-inputnumber,
.p-inputnumber,
.p-dropdown,
.p-input-icon-right > .p-inputtext {
  width: 100% !important;
}

// switch
#modal {
  .p-inputswitch {
    transform: scale(0.85) !important;
  }
}
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background-color: var(--bg-main-color) !important;
}
.p-column-filter-buttonbar .p-button {
  background-color: var(--bg-main-color) !important;
  color: var(--text-white-color) !important;
}

.p-column-filter-buttonbar .p-button-outlined {
  border-color: var(--bg-main-color) !important;
  color: var(--text-main-color) !important;
  background-color: transparent !important;
}
.p-column-filter-buttonbar .p-button {
  background-color: var(--bg-main-color) !important;
  color: var(--text-white-color) !important;
}

.p-column-filter-buttonbar .p-button-outlined {
  border-color: var(--bg-main-color) !important;
  color: var(--text-main-color) !important;
  background-color: transparent !important;
}
.p-inputnumber .p-button {
  background-color: var(--bg-main-color) !important;
  border-color: var(--bg-main-color) !important;
}
