::-webkit-scrollbar-thumb {
  background: transparent !important;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: rgb(255 255 255 / 61%) !important;
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 0.3 5rem;
}

.aside-menu {
  transition: all 0.5s ease !important;
  z-index: 120;
  top: 0;
  width: 6rem;
  height: 100vh;
  // margin: 15px;
  // border-radius: 18px;
  background-color: var(--bg-white-color);
  .logo-container {
    padding: 0rem 0.938rem;
    .logo {
      // height: 4rem;
      border-radius: 0.313rem;
      padding: 0.313rem;
      cursor: pointer;
    }
    .logo-text {
      font-family: "Oleo Script Swash Caps", cursive;
    }
    .arrow {
      margin-left: auto;
      cursor: pointer;
      position: absolute;
      width: 1.9rem;
      height: 1.9rem;
      border-radius: 0.625rem;
      right: -13px;
      z-index: 45;
      background-color: #e0e0e0;
      transition: all 0.5s ease-in-out;
      .fas {
        transition: all 0.5s ease-in-out;
      }
    }
  }
  .logo-img {
    width: 2.8rem !important;
  }
  .lg-logo {
    width: 5rem;
    transition: all 0.5s ease !important;
  }
}

.aside-nav-collapsed {
  width: 16.5625rem;
}

.aside-nav {
  padding: 0.938rem;
  margin: 0;
  height: calc(100% - 7.65rem);
  cursor: pointer;
  overflow-y: auto;
  .aside-nav-item {
    // margin: 1rem 0;
    .aside-nav-link {
      height: 3rem;
      transition: all 0.3s ease;
      border-radius: 9px;
      opacity: 0.8;
      &.active {
        background-color: rgba(16, 113, 184, 0.1);
        position: relative;
        // color: var(--text-main-color) !important;
        &::before {
          content: "";
          position: absolute;
          width: 2px;
          height: 100%;
          right: -14px;
          background-color: var(--bg-main-color);
        }
      }
      .aside-nav-link-icon {
        width: 2rem;
        min-width: 2rem;
      }

      .aside-nav-link-text {
        font-size: 0.938rem;
      }
      .angle {
        right: 1rem;
        transition: all 0.3s ease;
      }
    }
  }

  .aside-nav-item:hover {
    .aside-nav-link {
      background-color: var(--bg-white-color) !important;
      color: var(--text-secondary-color) !important;
    }
  }
  .logout {
    height: 4rem !important;
  }
}

.subnav {
  transition: all 0.3s ease;
  .fa {
    font-size: 0.6rem;
  }
}

.toggleIcon {
  transform: rotate(180deg);
}

.aside-nav-link-icon2:hover {
  background-color: var(--bg-white-color);
  color: var(--text-secondary-color) !important;
  border-radius: 10px;
}

.fa-arrow-right-from-bracket {
  transform: scaleX(-1);
}

.toggle-aside {
  transform: translateX(-18.5rem);
}
.subnav-link {
  color: #ccc !important;
}
.subnav-link.active {
  color: var(--text-white-color) !important;
}
.subnav-item:hover {
  .subnav-link {
    display: block;
    color: var(--text-white-color) !important;
    width: 100%;
    border-radius: 5px;
  }
}
.active {
  color: var(--text-main-color) !important;
  font-weight: 600 !important;
  position: relative;
  opacity: 1;
  &:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    right: -15px;
    background-color: var(--bg-main-color);
    top: 0;
  }
}
