.me-3 {
  margin-left: 1rem !important;
  margin-right: inherit !important;
}
.me-2 {
  margin-left: 0.5rem !important;
  margin-right: inherit !important;
}
.general-dropdown .dropdown-menu {
  left: 0 !important;
  right: inherit !important;
}
.scaleX-rtl {
  transform: scaleX(-1) !important;
}
.ps-1 {
  padding-right: 0.25rem !important;
  padding-left: inherit !important;
}

// =========================START DASHBOARD MODULE=======================
.dash {
  width: calc(100% - 6rem);
  margin-right: 6rem;
  transition: all 0.5s ease;
}
.dash-trimmed {
  width: calc(100% - 16.3rem) !important;
  margin-right: 16.3rem !important;
}
.dash-md-screen {
  width: calc(100% - 6rem);
  margin-right: 6rem !important;
}
.aside-menu .logo-container .arrow {
  margin-right: auto !important;
  margin-left: inherit !important;
}
// =========================END DASHBOARD MODULE=======================

// =====================START TABLE ==========================
#dynamic-global-data-table {
  .p-datatable-thead > tr > th {
    &:nth-of-type(1) {
      border-radius: 0 10px 10px 0px !important;
    }
    &:last-child {
      border-radius: 10px 0px 0px 10px !important;
    }
  }
  .p-datatable-tbody > tr > td {
    background-color: #02305805;
    border-color: #8c95a336;
    border-width: 1px 0 !important;
    padding: 1rem;
    &:first-child {
      border-width: 1px 1px 1px 0px !important;
      border-radius: 0 var(--border-radius-card) var(--border-radius-card) 0 !important;
    }
    &:last-child {
      border-width: 1px 0px 1px 1px !important;
      border-radius: var(--border-radius-card) 0 0 var(--border-radius-card) !important;
    }
  }

  .p-paginator {
    .pi {
      transform: scaleX(-1) !important;
    }
  }
}

// =====================END TABLE ==========================

// =====================START USER INFO ==========================
.dropdown-toggle::after {
  margin-right: 0.255em !important;
  margin-left: inherit;
}
// =====================END USER INFO ==========================

// =====================START ASIDE MENU ==========================
.aside-menu {
  .aside-nav {
    padding-right: 0.938rem !important;
    padding-left: inherit !important;
    .aside-nav-item {
      .aside-nav-link .angle {
        left: 1rem !important;
        right: inherit !important;
      }
      padding-left: 0.938rem !important;
      padding-right: inherit;
      &.active,
      &:hover {
        border-radius: 0px 12px 12px 0 !important;
        .beautiful-radius:nth-child(1) {
          left: 0 !important;
          &::before {
            border-bottom-left-radius: 13px !important;
            border-bottom-right-radius: 0 !important;
          }
        }
        .beautiful-radius:nth-child(2) {
          left: 0 !important;
          &::before {
            border-top-left-radius: 13px !important;
            border-top-right-radius: 0 !important;
          }
        }
      }
    }
  }
  .arrow {
    left: -13px !important;
    right: inherit !important;
  }
}
.toggle-aside {
  transform: translateX(18.5rem) !important;
}
// =====================END ASIDE MENU ==========================
.welcome {
  .circle-wrap .inside-circle {
    margin-right: 14px !important;
    margin-left: inherit !important;
  }
}
.aside-menu {
  .active {
    &:after {
      left: 0px !important;
      right: inherit !important;
    }
  }
}
