.user-info {
  .user-img-parent {
    width: 50px;
    height: 50px;
    .user-img {
      border: 2px solid var(--text-white-color);
    }
  }

  .user-info-menu {
    width: 18rem;
    top: 3.6rem !important;
  }
  .submenu {
    top: 40px !important;
  }
  .fa-circle {
    font-size: 10px;
  }
  .dropdown-toggle:after {
    display: block !important;
  }
}
