.notification {
  .dropdown-menu {
    width: 30rem;
    .notification-content {
      max-height: 70vh;
      overflow-x: auto;
    }
  }
  .active-notification {
    background-color: #f1f6fc;
  }
  .notification-icon {
    width: 1.5rem;
  }
  .dropdown-toggle {
    width: 50px;
    height: 50px;
  }
  .active {
    right: 10px;
    top: 13px;
    width: 10px;
    height: 10px;
  }
}
