<span class="p-input-icon-right">
  <span class="p-input-icon-left ml-auto">
    <i class="pi pi-search"></i>
    <input pInputText class="search-input" type="text" #search placeholder="{{'placeholder.search'|translate}}" />
  </span>
  <ng-container *ngIf="search.value && !isLoadingSearch">
    <i (click)="clearSearchValue(search)" class="pi pi-times text-danger pointer"></i>
  </ng-container>
  <ng-container *ngIf="isLoadingSearch">
    <i class="pi pi-spin pi-spinner"></i>
  </ng-container>
</span>