.search-input {
  background: rgba(255, 255, 255, 0.7);
  // box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  // border: 1px solid rgba(140, 149, 163, 0.21);
  // border: 0;
  border-radius: var(--main-border-radius-shape);
  height: 50px;
  width: 20rem !important;
}
